@charset "utf-8";

.admin-login-tittle {
	font-size: 21px;
	font-weight: 300;
}

.admin-login-form div {
	margin-bottom: 1em;
}

.login-body {
	text-align: center;
	padding: 10% 0;
}

.admin-login-form input {
	width: 350px;
	border: 1px solid #ececec;
	padding: 10px 15px;
	border-radius: 0px;
	box-sizing: border-box;
	font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L",
		Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
		"Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei",
		"Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei,
		"WenQuanYi Zen Hei Sharp", sans-serif;
}

.admin-name {
	margin-top: 2em;
}

#login-button {
	font-size: 15px;
	width: 350px;
	background: #02B875;
	color: #fff;
	border: 1px solid #02B875;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.admin-face {
	text-align: -webkit-center;
	margin-bottom: 3em;
}

.admin-face img {
	border-radius: 50em;
	width: 150px;
}

.admin-face img {
	margin: 0 auto;
	-webkit-border-radius: 110px;
	border-radius: 110px;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-moz-transition: -moz-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease-out;
	-ms-transition: -ms-transform 0.5s ease-out;
}

.admin-face img:hover {
	cursor: pointer;
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

.face-img {
	width: 150px;
	border-radius: 50em;
	-webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
}